<html>

<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <!-- <script src="vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <!-- <input type='file' accept='text/plain' onchange='openFile(event)'> -->

    <div id="app">
        <nav class="navbar navbar-expand-lg bg-blue fixed-top">
            <div class="container">
                <a class="navbar-brand text-light" href="#">Examer</a>
                <div class="navbar-content">
                    <ul class="navbar-nav">
                        <li class="nav-item active" v-for="page in pages" :class="{'active': page.is_active}">
                            <a class="nav-link text-light" href="#" @click="select_page(page)">
                                <i :class="page.i_class"></i>{{ page.name }}
                            </a>
                        </li>
                    </ul>
                    <label class="btn-file">
                        <i class="fas fa-file-upload"></i> Browse
                        <input type="file" style="display: none;" @change="open_file">
                    </label>
                </div>
            </div>
        </nav>
        <!-- <nav id="sidebar" class="col-4">
            <div class="sidebar-header">
                <h3>Examination Assistant</h3>
            </div>

            <ul class="list-unstyled components">
                <p>功能清單</p>
                <li v-for="page in pages" :class="{'active': page.is_active}">
                    <a href="#" @click="select_page(page)">{{ page.name }}</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a id="txt" href="#" target="_blank" class="download">Download source</a>
                </li>
                <li>
                    <label class="btn btn-default btn-file">
                        Browse
                        <input type="file" style="display: none;" @change="open_file">
                    </label>
                </li>
            </ul>
        </nav> -->
        <div id="page" class="container">
            <page name="單字列表" selected="true" class="vocabualry-list" i_class="fas fa-list-ul">
                <h1>單字列表</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>英文</th>
                            <th>中文</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(word, id) in vocabularies">
                            <td>{{ id+1 }}</td>
                            <td v-for="(w, i) in word">
                                <i class="fas fa-volume-up" v-if="i==0" v-on:click="speak_vocabulary(w)"></i>{{ w }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </page>
            <page name="測驗" i_class="fas fa-edit">
                <div v-show="!test_start" class="vocabualry-list">
                    <h4 for="">選擇測驗語言</h4>
                    <div class="btn-group btn-group-toggle">
                        <label class="btn btn-secondary" v-for="language in test_languages" :class="{'active': language==test_language}">
                            <input type="radio" name="options" :value="language" v-model="test_language"> {{ language }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">
                            <h4>測驗一題秒數</h4>
                        </label>
                        <input type="email" class="form-control" placeholder="請輸入測驗一題所需秒數" v-model="test_seconds">
                    </div>
                    <input type="button" class="btn bg-blue text-light" value="開始測驗" v-on:click="start_test">
                </div>
                <div v-show="test_start" id="vocabulary-card">
                    <div class="sticky">
                        <div class="test_content">
                            <span id="test_case">
                                <label for="now_test_case">{{ now_test+1 }}</label>
                                <label>／</label>
                                <label for="total_test_case">{{ total_test }}</label>
                            </span>
                            <span class="test_word">
                                <h1>{{ test_word }}</h1>
                                <h1 v-if="language_of_test_word">{{ hint_word }}</h1>
                            </span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" v-on:click="stop_test()">停止測驗</button>
                </div>
            </page>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
<script src="static/js/main.js"></script>

</html>