@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@font-face {
    font-family: 'cwTeXYen';
    font-style: normal;
    font-weight: 500;
    src: url('cwTeXYen-zhonly.woff');
}

body {
    /* font-family: 'Andika', 'cwTeXYen'; */
    font-family: '微軟正黑體';
    background: #f0f0f0;
    /* overflow-x: hidden; */
}

.fade-enter-active {
    transition: opacity .5s;
}

.fade-enter {
    opacity: 0;
}

.fade-leave {
    display: none;
}

/* sidebar css */

nav {
    height: 80px !important;
}

nav div:first-child {
    justify-content: flex-start !important;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    margin-right: 3rem !important;
}

.navbar-content {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
}

.nav-item {
    margin-right: 30px;
}

.nav-link {
    font-size: 20px;
}

.nav-link i {
    padding-right: 4px;
}

.btn-file {
    background-color: #3ccfcf;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.285714285714286;
    transition: all 120ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn-file:hover {
    background-color: #ffcd1f;
    color: #455358;
}

/* page css */

#page {}

#page div {
    width: 100%;
}

.form-group,
.btn-group {
    margin-top: 20px;
}

.vocabualry-list {
    padding: 120px 0;
}

table {
    font-size: 20px;
    background: #fff !important;
}

th,
td {
    padding: 1em !important;
    margin: 10px 0;
    border-top: 7px solid #f0f0f0 !important;
}

.fa-volume-up {
    font-size: 16px;
    color: #b9afaf;
    padding-right: 5px;
    cursor: pointer;
}

.fa-volume-up:hover {
    color: rgb(116, 96, 106);
}

/*  */

#vocabulary-card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.sticky {
    position: relative;
    width: 300px !important;
    height: 320px !important;
    margin: 0 30px 30px 0;
    background: linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .25));
    /* background-color: #FFFD75; */
    box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.28);
    /* transform: rotate(2deg); */
    /* transform: skew(-1deg, 1deg); */
    /* transition: transform .15s; */
    z-index: 1;
    border: 1px solid #fff;
    background: #fff;
}

#test_case {
    font-weight: bold;
    color: gray;
    position: relative;
    top: 20px;
    font-size: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.test_content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    left: auto;
    right: auto;
    font-weight: bolder;
    flex-direction: column;
}

.test_word {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* common */

.bg-blue {
    background: #4257b2 !important;
}

/* common */